
div#registration{
    text-align: right;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}


a#registration-link{
    text-decoration: none;
    transition: all 0.5s linear;
    color: #00756c;
}



a#registration-link:hover{
    color: #00005d;
    transform: scale(1.05);
}

.active-button{
    background-color: navy;
}

#login-chooser{
    margin: 20px;
}

#login-chooser button{
    box-shadow: none;
}

#logger-button{
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

#google-button{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

#ldap-button{
    border-radius: 0 !important;
}

#ldap-login-form{
    display: none;
}

#google-login{
    display: none;
}

img{
    max-width: 250px;
}