
div#back{
    text-align: left;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}


a#back-link{
    text-decoration: none;
    transition: all 0.5s linear;
    color: #00756c;
}

a#back-link:hover{
    color: #00005d;
    transform: scale(1.05);
}

#two-fa-registration{
    display: none;
}

#qr-result-fail-header{
    color: red;
    display: none;
}


img{
    margin-bottom: 25px;
}

