html, body {
    margin: 0;
    height: 100%;
}

body{
    background-color: #e5dbcf;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: xxx-large;
    color: #00003b;
}

h2,h4{
    text-align: center;
    font-weight: bold;
    color: #00003b;
}

main{
    text-align: center;
}

input{
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid #4f918c;
    margin: 15px;
}

input:focus{
    border: 2px solid navy;
    outline: none;
}

button {
    width: 100px;
    height: 40px;
    background-color: #0000e5;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    transition: background-color 0.5s linear;
    border: 1px transparent;
    margin-bottom: 15px;
}

button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
    background-color: navy;
}

#result-fail-header{
    color: red;
    display: none;
    text-align: center;
}

#result-fail-header-info{
    color: red;
    display: none;
    text-align: center;
}



