table{
    margin-right: auto;
    margin-left: auto;
}

th{
    border-bottom: 1px solid black;
}

#welcome{
    display: none;
}

#user_logins_link{
    text-decoration: none;
    color: #00756c;
    transition: color 0.5s linear;
    padding: 10px;
    border-bottom: 1px solid darkblue;
    border-top: 1px solid darkblue;
}

#user_logins_link:hover{
    color: darkblue;
    transform: scale(1.05);
}

