div.table-container{
    width: 50vw;
    min-width: 300px;
    display: inline-block;
}



@media screen and (min-width: 700px) {
    div#inline-table-container{
        display: flex;
    }
}

table{
    border-collapse: collapse;
}

td, th, thead{
    padding: 5px;
}

thead{


}

thead tr th{
    background-color: #0000ff;
    color: white;

}

table{
    margin-bottom: 25px;
}

table#count-table thead tr th:nth-child(odd){
    border-top-left-radius: 10px;
}

table#count-table thead tr th:nth-child(even){
    padding-left: 10px;
    border-top-right-radius: 10px;
}

table#logins-table thead tr th{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

tbody {
    background-color: #d5d5ff;
}

tbody tr th{
    border-bottom: none;
}

tbody tr{
    border-bottom: 1px solid black;
}

